{%extends 'base_layout.html'%}
{%load static%}
{%block content%}

<div class="container">


<h1 class="text-center mt-4">Keterangan Lokasi Tempat Sampah</h1>
    <div class="row" style="margin-left: 40px; margin-right: 40px; margin-top: 50px;">
        <div class="col-sm">
          <div class="card text-center" style="border-radius: 15px;">
            <div class="card-body" style="height: 400px;">
                <picture>
                    <source srcset="..." type="...">
                    <img src="{%static 'deskripsi peta.png'%}" class="mx-auto mt-4" alt="..." style="height: 300px; width: 300px; margin-bottom: 80px;">
                  </picture>
              <p class="card-text" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 20px;">Keterangan lokasi Tempat Sampah Kecamatan Baiturrahman</p>
            </div>
              <a type="button" class="btn btn-success" style="margin-top: 20px;" href="peta_baiturrahman/">More Info</a>
          </div>
        </div>
        <div class="col-sm">
            <div class="card text-center" style="border-radius: 15px;">
              <div class="card-body" style="height: 400px;">
                  <picture>
                      <source srcset="..." type="...">
                      <img src="{%static 'deskripsi peta.png'%}" class="mx-auto mt-4" alt="..." style="height: 300px; width: 300px; margin-bottom: 80px;">
                    </picture>
                <p class="card-text" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 20px;">Keterangan lokasi Tempat Sampah Kecamatan Banda Raya</p>
              </div>
                <a type="button" class="btn btn-success" style="margin-top: 20px;" href="peta_banda_raya/">More Info</a>
            </div>
          </div>
          <div class="col-sm">
            <div class="card text-center" style="border-radius: 15px;">
              <div class="card-body" style="height: 400px;">
                  <picture>
                      <source srcset="..." type="...">
                      <img src="{%static 'deskripsi peta.png'%}" class="mx-auto mt-4" alt="..." style="height: 300px; width: 300px; margin-bottom: 80px;">
                    </picture>
                <p class="card-text" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 20px;">Keterangan lokasi Tempat Sampah Kecamatan Jaya Baru</p>
              </div>
                <a type="button" class="btn btn-success" style="margin-top: 20px;" href="peta_jaya_baru/">More Info</a>
            </div>
          </div>
          <div class="col-sm">
            <div class="card text-center" style="border-radius: 15px;">
              <div class="card-body" style="height: 400px;">
                  <picture>
                      <source srcset="..." type="...">
                      <img src="{%static 'deskripsi peta.png'%}" class="mx-auto mt-4" alt="..." style="height: 300px; width: 300px; margin-bottom: 80px;">
                    </picture>
                <p class="card-text" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 20px;">Keterangan lokasi Tempat Sampah Kecamatan Kuta Ulam</p>
              </div>
                <a type="button" class="btn btn-success" style="margin-top: 20px;" href="peta_kuta_alam/">More Info</a>
            </div>
          </div>
      </div>
      <div class="row" style="margin-left: 40px; margin-right: 40px; margin-top: 50px;">
          <div class="col-sm">
            <div class="card text-center" style="border-radius: 15px;">
              <div class="card-body" style="height: 400px;">
                  <picture>
                      <source srcset="..." type="...">
                      <img src="{%static 'deskripsi peta.png'%}" class="mx-auto mt-4" alt="..." style="height: 300px; width: 300px; margin-bottom: 80px;">
                    </picture>
                <p class="card-text" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 20px;">Keterangan lokasi Tempat Sampah Kecamatan Kuta Raja</p>
              </div>
                <a type="button" class="btn btn-success" style="margin-top: 20px;" href="peta_kuta_raja/">More Info</a>
            </div>
          </div>
          <div class="col-sm">
              <div class="card text-center" style="border-radius: 15px;">
                <div class="card-body" style="height: 400px;">
                    <picture>
                        <source srcset="..." type="...">
                        <img src="{%static 'deskripsi peta.png'%}" class="mx-auto mt-4" alt="..." style="height: 300px; width: 300px; margin-bottom: 80px;">
                      </picture>
                  <p class="card-text" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 20px;">Keterangan lokasi Tempat Sampah Kecamatan Lueng Bata</p>
                </div>
                  <a type="button" class="btn btn-success" style="margin-top: 20px;" href="peta_lueng_bata/">More Info</a>
              </div>
            </div>
            <div class="col-sm">
              <div class="card text-center" style="border-radius: 15px;">
                <div class="card-body" style="height: 400px;">
                    <picture>
                        <source srcset="..." type="...">
                        <img src="{%static 'deskripsi peta.png'%}" class="mx-auto mt-4" alt="..." style="height: 300px; width: 300px; margin-bottom: 80px;">
                      </picture>
                  <p class="card-text" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 20px;">Keterangan lokasi Tempat Sampah Kecamatan Meuraxa</p>
                </div>
                  <a type="button" class="btn btn-success" style="margin-top: 20px;" href="peta_meuraxa/">More Info</a>
              </div>
            </div>
            <div class="col-sm">
              <div class="card text-center" style="border-radius: 15px;">
                <div class="card-body" style="height: 400px;">
                    <picture>
                        <source srcset="..." type="...">
                        <img src="{%static 'deskripsi peta.png'%}" class="mx-auto mt-4" alt="..." style="height: 300px; width: 300px; margin-bottom: 80px;">
                      </picture>
                  <p class="card-text" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 20px;">Keterangan lokasi Tempat Sampah Kecamatan Syiah Kuala</p>
                </div>
                  <a type="button" class="btn btn-success" style="margin-top: 20px;" href="peta_Syiah_Kuala/">More Info</a>
              </div>
            </div>
        </div>
        <div class="col-sm">
          <div class="card text-center" style="border-radius: 15px;">
            <div class="card-body" style="height: 400px;">
                <picture>
                    <source srcset="..." type="...">
                    <img src="{%static 'deskripsi peta.png'%}" class="mx-auto mt-4" alt="..." style="height: 300px; width: 300px; margin-bottom: 80px;">
                  </picture>
              <p class="card-text" style="color: #2E5238; font-family: 'Poppins', sans-serif; font-size: 20px;">Keterangan lokasi Tempat Sampah Kecamatan Ulee Kareng</p>
            </div>
              <a type="button" class="btn btn-success" style="margin-top: 20px;" href="peta_ulee_kareng/">More Info</a>
          </div>
        </div>

</div>
{%endblock%}
