{%extends 'base_layout.html'%}

{%block content%}
<div class="Deskripsi">
  <img src="" alt="">
  <h1 class="text-center mt-4">Deskripsi Aplikasi </h1>
  <p class="text-center mt-4" style="padding: 60px;">
    TrashBin merupakan aplikasi yang menunjang dalam penanggulangan permasalahan sampah sembarangan yang ada di lingkungan sekitar kita. Aplikasi ini nantinya akan menampilkan lokasi-lokasi tempat sampah yang mana akan diangkut oleh petugas setiap harinya. Selain itu aplikasi ini juga dapat menjadi media pelaporan apabila nantinya para penggunanya melihat ada suatu permasalahan sampah dan atau ada oknum yang melanggar norma terkait permasalahan sampah ini. Aplikasi ini juga kredibel dimana sudah terverifikasi dengan Dinas kesehatan dan Dinas Lingkungan Hidup. Kami yakin aplikasi TrashBin ini akan menekan angka permasalahan lingkungan diakibatkan oleh sampah.
  </p>
</div>
{%endblock%}
